/* src/styles/adminPanel.css */
.admin-panel {
    padding: 15px 15px 15px 15px;
    margin: 2vw 8vw 0vw 8vw;
    min-height: 90vh;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 2vh;
}

.user-list table {
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
}

.user-list th, .user-list td {
    padding: 10px;
    text-align: left;
    border: 1px solid white;
}

.user-list th {
    background-color: #09090b;
}

.user-list tr:nth-child(even) {
    background-color: #161616;
}

.user-list tr:hover {
    background-color: #161616;
}

.user-list button {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    background-color: #1a1a1a; /* Color de fondo */
    color: white; /* Color del texto */
    border-radius: 5px; /* Esquinas redondeadas para los botones */
    cursor: pointer;
}

.user-list button:hover {
    background-color: #303030; /* Color de fondo al hacer hover */
}

.error-message {
    color: red;
}
