.layout {
    display: flex;
  }
  
.content {
    flex: 1;
    background-color: #15151a;
    width:100vw;
  }

html, body {
    width:100%;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
  }

