.sidebar {
    width: 15vw;
    background-color: #0f0f14;
    min-height: 100vh;
    text-decoration: none;
    padding: 1.5vw;
    position: fixed;
    top: 0;
    left: -15vw;  /* Inicialmente la sidebar está oculta fuera de la pantalla */
    transition: left 0.3s ease;  /* Transición suave para abrir/cerrar */
    z-index: 1;  /* Asegura que la sidebar esté sobre otros elementos */
  }
  
  .sidebar.open {
    left: 0;  /* Cuando está abierta, se coloca en la posición normal */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-top: 15px;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
  }
  
  .sidebar h1 {
    margin: 0;
    font-size: 1.7vw;
    font-weight: bold;
  }
  
  .sidebar-toggle {
    position: fixed;  /* Posiciona el botón fuera de la barra lateral y en un lugar fijo */
    top: 20px;
    left: 20px;  /* Ajusta la posición según lo desees */
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 2;  /* Asegura que el botón quede sobre otros elementos */
  }
  
  .sidebar-toggle:hover {
    background-color: #444;
  }
  