/* sidebar.module.css */
.sidebar {
    width: 250px;
    background-color: rgb(35, 35, 50);
    padding: 5px;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius:15px;
    padding-left: 15px;
  }
  
  .sidebar a {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Sin subrayado */
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
    width: 80%;
  }
  
  .sidebar a:hover {
    background-color: rgb(44, 44, 55); /* Color de fondo al pasar el ratón por encima */
  }
  
  .sidebar h2 {
    margin-top: 0;
    padding: 10px;
  }
  
  .sidebar .nav-items {
    flex-grow: 1;
  }
  
  .sidebar .footer {
    margin-top: auto;
    padding: 10px;
  }

  .sidebar .footer p{
    font-size: smaller;
  }
  