  
.sidebar {
    width: 15vw;
    background-color: #0f0f14;
    height: 100vh;
    text-decoration: none;
    padding: 1.5vw;
  }

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-top: 15px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.sidebar h1 {
    margin: 0;
}