.window {
    position: absolute;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: flex; /* Asegura que la ventana use flexbox */
    flex-direction: column; /* Configura la dirección del contenido */
    width: 300px; /* Tamaño inicial, puedes ajustarlo */
    height: 200px; /* Tamaño inicial, puedes ajustarlo */
    border: 1.5px solid #000000;
    border-radius:10px;
    background-color: #0f0f11;
}

.window-content {
    background-color: #0f0f1100;
    color: white;
    padding: 5px;
    display: flex; /* Asegúrate de que use flexbox */
    flex-direction: column; /* Coloca los elementos en columna */
    flex: 1;
    border-radius:20px;
}

.window-title {
    cursor: move;
    margin-bottom: 10px;
    font-size: small;
    padding: 7px 0px 0px 7px;
    background-color: #0f0f1100;
}

.window-resize {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: #0f0f1100;
    cursor: nwse-resize;
}

.close-button {
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    color: rgb(255, 255, 255); /* Color de la cruz */
    font-size: 15px; /* Tamaño de la cruz */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    position: absolute; /* Para posicionar en la esquina superior derecha */
    top: 6px; /* Ajustar según sea necesario */
    right: 8px; /* Ajustar según sea necesario */
}

.close-button:hover {
    color: darkred; /* Cambia el color al pasar el ratón */
}

.maximize-button {
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    color: rgb(255, 255, 255); /* Color de la cruz */
    font-size: 25px; /* Tamaño de la cruz */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    position: absolute; /* Para posicionar en la esquina superior derecha */
    top: -4px; /* Ajustar según sea necesario */
    right: 25px; /* Ajustar según sea necesario */
}
